

#CenterList {
  color: rgb(255, 180, 90);
  display: flex;
  justify-content: center;
  align-items: center;
}

#TOC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
